
<strong>Admin Airline Page<%= @airline.name %></strong>

<div class="panel">
  <%= image_tag @airline.logo_url %>

  <%= link_to "Go to Airline Website", @airline.link_url, target: '_blank' %>
  <p><%= @airline.description %></p>

  <%= link_to "Edit Airline", edit_admin_airline_path %>
  <%= button_to "Delete Airline", admin_airline_path, method: :delete %>
</div>

<table>
    <th>
      Rating
    </th>
    <th>
      Reviews
    </th>
    <% @reviews.each do |review| %>
        <tr>
          <td>
            <%= review.rating %>
          </td>
          <td>
            <%= review.body %>
          </td>
          <td>
            <%= link_to 'Delete', admin_review_path(@airline, review), method: :delete, class: "button tiny alert", id: "#{review.id}" %>
          </td>
        </tr>
    <% end %>
</table>
<%= render 'reviews/form' %>

<%= paginate @reviews %>
