
<div class="row">
  <div class="small-3 small-centered columns">
    <div class="circular">
      <img src=<%= @user.profile_photo %>>
    </div>
    <div class="centered">
    <p><%= @user.email%></p>
    <%= link_to "Update Profile", "edit" %>
    </div>
  </div>
</div>


<div class="container">
  <% unless @user.airlines.empty? %>
    Airlines:
    <ul>
      <% @user.airlines.each do |airline| %>
          <p><a href="<%= airline_path(airline) %>"><%= airline.name %></a></p>
          <p class="panel">
            <% airline.reviews.each do |review| %>
              <%= review.body %>
            <% end %>
          </p>
      <%- end -%>
    </ul>
  <%- end -%>
</div>
