<div class="welcome">
  <div class="container">
    <div class="row">
      <div class="big-text">
        <div class="small-12 small-centered columns">
          <h1>Let's Fly!</h1>
          <h2>Review Your Favorite Airlines</h2>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="search">
        <div class="small-12 small-centered columns">
          <%= form_tag(searches_path, method: :get) do %>
            <div class="row">
              <div class="small-6 small-centered columns">
                <div class="row collapse postfix-round">
                  <div class="small-9 columns">
                    <%= text_field_tag(:query) %>
                  </div>
                  <div class="small-3 columns">
                    <%= submit_tag("Search", class: "button postfix") %>
                  </div>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="image-attribution">
  Image courtesy of <%= link_to "JFXie", "http://tinyurl.com/pwuk6ef" %>
<div>

<div class="featured-airlines">
  <h2>Featured Airlines</h2>
  <%= render "airlines/index" %>
</div>
