<div class="welcome">
  <nav class="top-bar">
    <ul class="title-area">
      <li class="name">
        <h1><a href="/">Frqnt Flyr</a></h1>
      </li>
    </ul>
    <section class="top-bar-section">
      <ul class="right">
        <%- if current_user -%>
          <li>
            <%= link_to "Profile", user_path(current_user) %>
          </li>
          <%- if current_user.admin -%>
            <li><%= link_to 'Admin', admin_airlines_path %></li>
          <%- end -%>
          <li><%= link_to 'Sign Out', destroy_user_session_path, method: :delete %></li>
          <%- else -%>
          <li><%= link_to 'Sign Up', new_user_registration_path %></li>
          <li><%= link_to 'Sign In', new_user_session_path %></li>
        <%- end -%>
    </ul>
  </section>
</nav>
  <div class="container">
    <div class="row">
      <div class="big-text">
        <div class="small-12 small-centered columns">
          <h1>Let's Fly!</h1>
          <h3>Review Your Favorite Airlines</h3>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="search">
        <div class="small-12 small-centered columns">
          <%= form_tag(searches_path, method: :get) do %>
            <div class="row">
              <div class="small-6 small-centered columns">
                <div class="row collapse postfix-round">
                  <div class="small-9 columns">
                    <%= text_field_tag(:query) %>
                  </div>
                  <div class="small-3 columns">
                    <%= submit_tag("Search", class: "button postfix") %>
                  </div>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="image-attribution">
  Image courtesy of <%= link_to "JFXie", "http://tinyurl.com/pwuk6ef" %>
<div>

<div class="featured-airlines">
  <h2>Featured Airlines</h2>
  <%= render "airlines/index" %>
  <%= link_to "See All Airlines", airlines_path, class: "button large" %>
</div>
