<div class="container">
  <h3>Airlines</h3>
  <ul class="small-block-grid-3">
    <% @search_result.airlines.each do |airline| %>
      <li>
        <a href="<%= airline_path(airline) %>"><%= image_tag airline.logo_url, size: "250x250" %></a>
        <p><a href="<%= airline_path(airline) %>"><%= airline.name %></a></p>
      </li>
    <% end %>
  </ul>
  <%= link_to "See All Airlines", airlines_path, class: "button large" %>
</div>

<div class="container">
  <h3>Reviews</h3>
  <% @reviews.each do |review| %>
    <div class="panel callout radius">
      <div class="row">
        <div class="medium-2 large-2 columns">
          <%= link_to review_upvotes_path(review), method: :post, id: "upvote-#{review.id}" do %>
            <i class="fa fa-arrow-up"></i>
          <%-end-%>
          <%= review.total_votes %>
          <%= link_to review_downvotes_path(review), method: :post, id: "downvote-#{review.id}" do %>
            <i class="fa fa-arrow-down"></i>
          <%-end-%>
        </div>
        <div class="large-10 columns">
          <% review.rating.times do %>
            <i class="fa fa-star"></i>
          <%-end-%>
          <% (4-review.rating).times do %>
            <i class="fa fa-star-o"></i>
          <%-end-%>
          <span class="review_author">by <%=review.user.email%> on <%=review.updated_at.to_formatted_s(:long) %></span>
          <div class="medium-10 columns"><%= review.body %></div>
        </div>
      </div>
    <% if user_signed_in? %>
      <% if current_user.id == review.user_id %>
        <%= link_to 'Edit', airline_review_path(review.airline, review), class: "button tiny" %>
        <%= link_to 'Delete', airline_review_path(review.airline, review), method: :delete, class: "button tiny alert" %>
      <%- end -%>
     <%- end -%>
  </div>
  <% end %>
</div>
<%= paginate @reviews %>
