<div class="airlines">
  <h3>Airlines</h3>
  <ul>
    <% @search_result.airlines.each do |airline| %>
      <li>
        <%= link_to airline.name, airline_path(airline) %>
      </li>
    <% end %>
  </ul>
</div>

<div class="reviews">
  <h3>Reviews</h3>

  <table>
    <th>
      Airline
    </th>
    <th>
      Rating
    </th>
    <th>
      Review
    </th>
    <% @search_result.reviews.each do |review| %>
      <tr>
        <td>
          <%= link_to review.airline.name, airline_path(review.airline) %>
        </td>
        <td>
          <%= "★" * review.rating %>
        </td>
        <td>
          <%= review.body %>
        </td>
        <% if user_signed_in? %>
          <% if current_user.id == review.user_id %>
            <td>
              <%= link_to 'Edit', airline_review_path(@airline, review), class: "button tiny alert" %>
            </td>
            <td>
              <%= link_to 'Delete', airline_review_path(@airline, review), method: :delete, class: "button tiny alert" %>
            </td>
          <%- end -%>
        <%- end -%>
      </tr>
    <% end %>
  </table>
</div>
