<%= @airline.name %>

<%= link_to "Go to Airline Website", @airline.link_url, target: '_blank' %>
<%= @airline.description %>
<%= image_tag @airline.logo_url %>
<%= link_to "Edit Airline", edit_airline_path %>


<table>
    <th>
      Rating
    </th>
    <th>
      Reviews
    </th>
    <% @reviews.each do |review| %>
        <tr>
          <td>
            <%= review.rating %>
          </td>
          <td>
            <%= review.body %>
          </td>
          <% if user_signed_in? %>
            <% if current_user.id == review.user_id %>
          <td>
            <%= link_to 'Edit', airline_review_path(@airline, review), class: "button tiny alert" %>
          </td>
          <td>
            <%= link_to 'Delete', airline_review_path(@airline, review), method: :delete, class: "button tiny alert" %>
          </td>
        </tr>
        <%- end -%>
      <%- end -%>
    <% end %>
</table>

<%= render 'reviews/form' %>
