<strong><%= @airline.name %></strong>
<div class="panel">

<%= image_tag @airline.logo_url %>
<p>
  <%= link_to "Go to Airline Website", @airline.link_url, target: '_blank' %>
</p>
<p>
  <%= @airline.description %>
</p>
  <% if user_signed_in? %>
    <% if current_user.id == @airline.user_id %>
      <%= link_to "Edit Airline", edit_airline_path %>
    <%- end -%>
  <%- end -%>
</div>

<table>
    <th>
      Rating
    </th>
    <th>
      Reviews
    </th>
    <% @reviews.each do |review| %>
      <tr>
        <td>
            <%= link_to 'Upvote', review_upvotes_path(review), method: :post, id: "upvote-#{review.id}"%>
            <%= review.total_votes %>
          <td>
            <%= review.rating %>
          </td>
          <td>
            <%= review.body %>
          </td>
          <% if user_signed_in? %>
            <% if current_user.id == review.user_id %>
          <td>
            <%= link_to 'Edit', airline_review_path(@airline, review), class: "button tiny alert" %>
          </td>
          <td>
            <%= link_to 'Delete', airline_review_path(@airline, review), method: :delete, class: "button tiny alert" %>
          </td>
        </tr>
        <%- end -%>
      <%- end -%>
    <% end %>
</table>

<%= render 'reviews/form' %>
<%= paginate @reviews %>
