<strong><%= @user.email %></strong>

<%= button_to "Delete User", admin_user_path, method: :delete %>

<% unless @user.airlines.nil? %>
  Airlines owned:
  <ul>
    <% @user.airlines.each do |airline| %>
      <li><%= airline.body %></li>
    <%- end -%>
  </ul>
<%- end -%>

<p>Reviews:</p>
<ul>
  <% @reviews.each do |airline, reviews| %>
    <li>
      <%= airline.name %>
      <ul>
        <% reviews.each do |r| %>
          <li><%= r.body %></li>
        <% end %>
      </ul>
    </li>
  <%- end -%>
</ul>
