<%= form_for [@airline, @review] do |f| %>
  <div class="row">
  <div class="medium-2 large-2 columns">
    <%= f.label :rating, "Rating:" %>
    <%= f.select :rating, options_for_select([nil, 1, 2, 3, 4, 5], selected:  @review.rating) %>
  </div>

  <div class="medium-10 large-10 columns">
    <%= f.label :body, "Description" %>
    <%= f.text_area :body, value: @review.body%>
  </div>
</div>

<div class="row">
  <div class="medium-10 large-10 columns"></div>
  <div class="medium-2 large-2 columns">
    <%= f.submit (f.object.new_record? ? "Submit review" : "Edit review"),
      class: "button tiny success" %>
  </div>
  </div>
<%-end-%>
