<%= form_for [@airline, @review] do |f| %>
<div class="row">
  <div class="medium-2 large-2 columns">
    <%= f.label :rating, "Rating:" %>
    <%= f.select :rating, options_for_select([nil, 1, 2, 3, 4, 5], selected:  @review.rating) %>
  </div>

  <div class="medium-10 large-10 columns">
    <%= f.label :body %>
    <%= f.text_field :body, value: @review.body%>
  </div>
</div>

<%= f.submit (f.object.new_record? ? "Submit review" : "Edit review"),
  class: "button tiny success" %>
<%-end-%>
