</div><!DOCTYPE html>
<html>
<head>
<title>Frqnt Flyr</title>
<%= stylesheet_link_tag 'application', media: 'all' %>
<%= csrf_meta_tags %>
</head>
<body>

<nav class="top-bar" data-topbar role="navigation">
  <ul class="title-area">
    <li class="name">
      <h1><%= link_to "FrqntFlyr", root_path %></h1>
    </li>
     <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
    <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
  </ul>

  <section class="top-bar-section">
    <ul class="right">
      <li>
        <%= form_tag(searches_path, method: :get) do %>
          <div class="row">
            <div class="small-12 columns">
              <div class="row collapse postfix-round">
                <div class="small-9 columns">
                  <%= text_field_tag(:query) %>
                </div>
                <div class="small-3 columns">
                  <%= submit_tag("Search", class: "button postfix") %>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      </li>

      <li><%= link_to "Browse Airlines", airlines_path %></li>

      <%- if current_user -%>
        <li><%= link_to "Profile", user_path(current_user) %></li>
        <%- if current_user.admin -%>
          <li><%= link_to 'Admin', admin_airlines_path %></li>
        <%- end -%>
        <li>
          <%= link_to 'Sign Out', destroy_user_session_path, method: :delete %>
        </li>
      <%- else -%>
        <li><%= link_to 'Sign Up', new_user_registration_path %></li>
        <li><%= link_to 'Sign In', new_user_session_path %></li>
      <%- end -%>
    </ul>
  </section>
</nav>

<div class="container">
  <%- flash.each do |key, value| -%>
    <div class="alert-box alert radius">
      <div class="flash flash-<%= key %>">
        <%= value %>
      </div>
    </div>
  <%- end -%>

<div class="body-class">
<<<<<<< HEAD
  <div class="container">
    <%= yield %>
  </div>
=======
<%= yield %>
>>>>>>> master
</div>

</div>
  <%= javascript_include_tag 'application' %>
  <%= render "layouts/applicationfooter" %>
</body>
</html>
