<!DOCTYPE html>
<html>
<head>
<title>Frqnt Flyr</title>
<%= stylesheet_link_tag 'application', media: 'all' %>
<%= csrf_meta_tags %>
</head>
<body>
  <%= yield %>

  <%= javascript_include_tag 'application' %>
  <%= render "layouts/footer" %>
  <%= yield :extra_footer %>
</body>
</html>
